
[class*="platform-"]  {
  width:48px;
  height:50px;
    background-image:url('images/platforms.png') ;
}

/* 1 ,2, 3  ,4  ,5  ,6  ,7
 * 48,96,144,192,240,288,336 */

.platform-n64 {     background-position:-96px -48px}
.platform-nes {     background-position:0px -48px}
.platform-snes {    background-position:-48px -48px}
.platform-gb {      background-position:0px -96px}
.platform-gbc {     background-position:-48px -96px}
.platform-gba {     background-position:-96px -96px}
.platform-nds {     background-position:-144px -96px}
.platform-psx {     background-position:-48px -144px}
.platform-gc {      background-position:-144px -48px}
.platform-arcade {  background-position:-48px 0px}
.platform-dos {     background-position:-96px 0px}
.platform-atari2600{background-position:0px 0px}
.platform-win {     background-position:-144px 0px}
.platform-md {      background-position:0px -144px}
.platform-scummvm { background-position:-192px 0px}
.platform-ps2 {     background-position:-96px -144px}
.platform-wii {      background-position:-192px -48px}
